

.header {
    margin: 0;
    color: #306135;
    font-family: url(../../fonts/RubikOne-Regular.ttf);
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 100%;
    overflow: hidden;
    width: 100%;
  
}

h2 {  
      font-family: 'Rubik One';
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
     line-height: 79px;
    display: flex;
    align-self: center;
  
    color: #306135;
  
    text-shadow: 2px 2px 2px rgba(145, 145, 145, 0.51);
 }

.btn{
    /* State=inactive */
  box-sizing: border-box;
/* Auto layout */
  background-color:rgba(0, 0, 0, 0);
  width: 329px;
  height: 129px;
  .TextStyle{
    overflow: hidden;
    overflow-y: hidden;
    width: 188px;
    height: 79px;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    font-family: 'Rubik One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 0.015em;
  }
    color: #7C8FAE;
  border: 10px solid #306135;
  border-radius: 34px;
  align-self: center;
}

.btn:hover{
  /* State=active */
  overflow: hidden;
  overflow-y: hidden;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
/* Auto layout */

  width: 329px;
  height: 129px;
  

  background: #306135;
  box-shadow: -3px 5px 65px #737F91;
  border-radius: 34px;
  .TextStyle{
    overflow: hidden;
    overflow-y: hidden;
    width: 188px;
    height: 79px;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    font-family: 'Rubik One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 0.015em;

    color: #7C8FAE;


/* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}

.btn:active{
  /* State=click */


/* Auto layout */


width: 324px;
height: 129px;

border: 10px solid #306135;
background: #306135;
border-radius: 34px;
  .TextStyle{
    width: 188px;
    height: 79px;
    overflow: hidden;
    overflow-y: hidden;
    font-family: 'Rubik One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 0.015em;
      
    color: #D9D9D9;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
  }
}
.TextStyle{
  width: 188px;
  height: 79px;

  font-family: 'challa';
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
  letter-spacing: 0.015em;
  overflow: hidden;
  overflow-y: hidden;
  color: #306135;
  align-self: center;

/* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.gif_player img {
  overflow: hidden;
  overflow-y: hidden;
  width: 10cm;
  margin-top: -15px;
}

.players {
  display: flex;
  justify-content: space-between;

}

.input_prt{
  width: 467px;
  height: 59px;
  align-self: center;
  box-sizing: border-box;
  background-color:rgba(0, 0, 0, 0);
  border: 6px solid #38793e;
  box-shadow: 4px 4px 4px rgba(48, 92, 54, 0.753);
/* Note: backdrop-filter has minimal browser support */

  border-radius: 22px;

}
.input_prt[type=text] {
font-family: 'Rubik One';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 40px;
display: flex;
align-items: center;
align-self: center;

color: #FFFFFF;

opacity: 0.4;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sound_ico{
  position: absolute;
  left: 1cm;
  top: 1cm;
  height: 100%;
  scale: 5px;
  width: 50px;
  object-fit: cover;
  object-position: 5px;
}

.sound_ico:hover{
  position: absolute;
  left: 1cm;
  top: 1cm;
  height: 100%;
  scale: 5px;
  width: 95px;
}

  .sd{
    position: absolute;
    left: 1cm;
    top: 1cm;
    height: 80px;
    scale: 5px;
    background-color: transparent;
    border: none;
}
.sd:hover{
  position: absolute;
  left: 0.9cm;
  top: 0.9cm;
  height: 90px;
  scale: 5px;
}
.sd:active{
  position: absolute;
  left: 0.9cm;
  top: 0.9cm;
  height: 90px;
  scale: 5px;
}