.Main {
  margin: 0;
  color: #306135;
  font-family: url(../../fonts/RubikOne-Regular.ttf);
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  height: 100%;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.keykey{
    position: absolute;
    width: 13cm;
    left: 25cm;
    height: 10cm;
    bottom: 10cm;

}
.player {
    position: absolute;
    top: 10cm;
  font-family: "Rubik One";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  width: 6cm;
  color: #614930;

  border: 1px solid rgba(0, 0, 0, 0.67);
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.51);
}
.inputSyle {
  position: absolute;
  left: 10cm;
  top: 1cm;
  border-bottom: 1px dashed black;
  width: 10cm;
  letter-spacing: 0.45em;
}
.supBiggga {
  position: absolute;
  top: 3cm;
  left: 10cm;
  width: 2cm;
}
